.bm-burger-button {
    cursor: pointer;
    height: 20px !important;
    left: 26px !important;
    position: absolute;
    top: 26px !important;
    width: 26px !important;
}
button:active {
    outline: none !important;
}

.bm-cross-button {
    right: 10px !important;
}
.bm-overlay {
    background: rgba(0, 0, 0, 0) !important;
}

.bm-cross {
    height: 24px !important;
}

.v-bottom-nav {
    bottom: 0 !important;
}

.v-btn__content {
    font-size: 11px !important;
}

.theme--light.v-bottom-nav {
    background-color: #fff !important;
}
