<template>
    <div>
        <Toolbar/>
        <BottomNav/>
    </div>
</template>

<script>
    import Toolbar from '../components/Toolbar'
    import BottomNav from '../components/BottomNav'
    export default {
        name: "chat",
        components: {
            Toolbar, BottomNav
        }
    }
</script>

<style scoped>

</style>