<template>
    <div class="main">
        <Login v-if="!$store.state.user.isLoggedIn"/>
        <Dashboard v-if="$store.state.user.isLoggedIn"/>
    </div>
</template>

<script>
    import Login from '../components/Login.vue'
    import Dashboard from '../components/Dashboard.vue'

    export default {
        name: 'app',
        components: {
            Login, Dashboard
        }
    }
</script>

<style scoped>
    .check {
        color: white;
        size: 25px;
    }
</style>