<template>
    <div>
        <Burger/>
        <Reservation/>
        <BottomNav/>
    </div>
</template>

<script>
     import Burger from '../components/Burger'
    import BottomNav from '../components/BottomNav'
    import Reservation from '../components/Reservation'
    export default {
        name: "reservations",
        components: {
            Burger, BottomNav, Reservation
        }
    }
</script>

<style scoped>

</style>