<template>
    <v-card height="0">
        <v-bottom-nav
                v-model="$store.state.bottomNav"
                :active.sync="$store.state.bottomNav"
                :value="true"
                color="transparent"
                :fixed="true"
                :app="true"
        >
            <v-btn @click="home()"
                    color="teal"
                    flat
                    value="home"
            >
                <span>Home</span>
                <v-icon>home</v-icon>
            </v-btn>

            <v-btn @click="search()"
                    color="teal"
                    flat
                    value="search"
            >
                <span>Search</span>
                <v-icon>search</v-icon>
            </v-btn>

            <v-btn @click="reservations()"
                    color="teal"
                    flat
                    value="event_note"
            >
                <span>Reservations</span>
                <v-icon>event_note</v-icon>
            </v-btn>

            <v-btn @click="chat()"
                    color="teal"
                    flat
                    value="chat"
            >
                <span>Chat</span>
                <v-icon>chat</v-icon>
            </v-btn>

        </v-bottom-nav>
    </v-card>
</template>

<script>
    import store from '../store.js'
    export default {
        data () {
            return {
                bottomNav: 'home'
            }
        },
        methods: {
            home() {
                this.$router.push('/');
                store.commit('changeBottomNav', 'home');
            },
            search() {
                this.$router.push('/search');
                store.commit('changeBottomNav', 'search');
            },
            reservations() {
                this.$router.push('/reservations');
                store.commit('changeBottomNav', 'reservations');
            },
            chat() {
                this.$router.push('/chat');
                store.commit('changeBottomNav', 'chat');
            }
        }
    }
</script>

<style>


</style>