<template>
    <div>
        <Slide>
            <a id="home" href="#" @click="logout()">
                <span>Logout</span>
            </a>
        </Slide>
    </div>
</template>

<script>
    import store from '../store.js'
    import { Slide } from 'vue-burger-menu'
    export default {
        name: "burger",
        components: {
            Slide
        },
        methods: {
            logout() {
                store.commit('logout');
            }
        }
    }
</script>

<style scoped>

</style>