<template>
    <div>
        <Toolbar/>
        <BottomNav/>
    </div>
</template>

<script>

    import Toolbar from './Toolbar'
    import BottomNav from './BottomNav'
    export default {
        name: "dashboard",
        components: {
            Toolbar, BottomNav
        }
    }
</script>

<style scoped>

</style>