<template>
  <div class="main">
    <div class="bg"></div>
    <div class="content">
      <div class="button-container">
        <button class="button" @click="signIn">
          <div class="circle animate"></div>
          <span class="sign-in">Sign in</span>
          <div class="loader"></div>
        </button>
      </div>
      <div class="controls">
        <!-- Place for icon -->
        <div class="icon"></div>
        <div class="inputs">
          <form class="login" method="post" v-if="!isHidden">
            <vue-tel-input v-model="phone"
                           @onInput="onInput" :preferredCountries="['ee']">
            </vue-tel-input>
            <p class="message">Not registered? <a href="#" v-on:click="isHidden = true">Create an account</a></p>
          </form>
          <form class="register" method="post" v-else>
            <vue-tel-input v-model="phone"
                           @onInput="onInput" :preferredCountries="['ee']">
            </vue-tel-input>
            <p class="message">Already have an account? <a href="#" v-on:click="signIn()">Sign in</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import store from '../store.js';
  export default {
    data() {
      return {
        phone: '',
        isHidden: false
      };
    },
    methods: {
      signIn() {
          this.isHidden = false;
          store.commit('login');
          this.$http.post("https://cors-anywhere.herokuapp.com/https://jsonplaceholder.typicode.com/posts", {
              hidden: this.hidden
          }).then(
              (res) => {
                  console.log(res);
              } ,(res) => {
                  console.log(res);
              }
          )
      },
      onInput({ number, isValid, country }) {
        console.log(number, isValid, country);
      },
    },
  }

</script>

<style>

  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  .main {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .bg {
    background-image: url('../assets/Nature.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(.7);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .bg:after {
    content: ' ';
    background-color: #7f58b1;
    opacity: .5;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .content {
    margin: 0 auto;
    max-width: 400px;
  }

  .icon {
    height: 300px;
    margin: 0 auto;
    width: 200px;
  }

  .inputs {
    position: relative;
    margin: 0 50px;
  }

  input[type="tel"]{
    background: transparent;
    border-left: 1px solid #fff !important;
    font-size: 11px;
    opacity: .8;
    color: #fff;
  }
  input::placeholder {
    color: #fff;
  }

  .button-container {
    height: 100%;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .button {
    background-color: #F73D71;
    border: 0;
    border-radius: 28px;
    display: block;
    font-size: 16px;
    height: 56px;
    margin: 0 auto;
    max-width: 300px;
    outline: none !important;
    overflow: hidden;
    position: relative;
    top: 500px;
    transition: box-shadow 150ms;
    width: 100%;
  }

  .circle {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    height: 80px;
    left: 0;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 80px;
  }

  .sign-in {
    color: white;
    opacity: 0.6;
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    position: relative;
  }
  .message a {
    color: #86BB71;
    text-decoration: none;
  }

</style>
