<template>
    <section class="card theme-green">
        <section class="card__part card__part-1">
            <div class="card__part__inner">
                <header class="card__header">
                    <div class="card__header__close-btn"></div>
                </header>
                <div class="card__stats">
                    <div class="card__stats__item card__stats__item--req">
                        <p class="card__stats__type">Requests</p>
                        <span class="card__stats__value">1</span>
                    </div>
                    <div class="card__stats__item card__stats__item--pledge">
                        <p class="card__stats__type">Price</p>
                        <span class="card__stats__value">$20</span>
                    </div>
                    <div class="card__stats__item card__stats__item--weight">
                        <p class="card__stats__type">Weight</p>
                        <span class="card__stats__value">11</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="card__part card__part-2">
            <div class="card__part__side m--back">
                <div class="card__part__inner card__face">
                    <div class="card__face__colored-side"></div>
                    <h3 class="card__face__price">$20</h3>
                    <div class="card__face__divider"></div>
                    <div class="card__face__from-to">
                        <p>Nails</p>
                        <p>Tallinn, Eesti</p>
                    </div>
                    <div class="card__face__master">
                        <p>Master Elena</p>
                    </div>
                    <div class="card__face__deliv-date">
                        Monday
                        <p>26.03.2019</p>
                    </div>
                    <div class="card__face__stats card__face__stats--req">
                        Location
                        <p>Tammsaare tee</p>
                    </div>
                    <div class="card__face__stats card__face__stats--pledge">
                        Time
                        <p>2h</p>
                    </div>
                    <div class="card__face__stats card__face__stats--weight">
                        Contact
                        <p class="card__face__stats__weight">
                            <span>53545657</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card__part__side m--front">
                <div class="card__sender">
                    <h4 class="card__sender__heading">Master</h4>
                    <div class="card__sender__img-cont">
                        <div class="card__sender__img-cont__inner">
                            <img src="../assets/nails.jpeg" class="card__sender__img" />
                        </div>
                    </div>
                    <div class="card__sender__name-and-rating">
                        <p class="card__sender__name">Elena Ivanova</p>
                        <p class="card__sender__address">
                            Tallinn, Estonia
                        </p>
                    </div>
                </div>
                <div class="card__from-to">
                    <div class="card__from-to__inner">
                        <div class="card__text card__text--left">
                            <p class="card__text__heading">Address</p>
                            <p class="card__text__middle">Tallinn</p>
                            <p class="card__text__bottom">Tammsaare tee</p>
                        </div>
                        <div class="card__text card__text--right">
                            <p class="card__text__heading">Contact</p>
                            <p class="card__text__middle">53545556</p>
                        </div>
                    </div>
                </div>
                <section class="card__part card__part-3">
                    <div class="card__part__side m--back"></div>
                    <div class="card__part__side m--front">
                        <div class="card__timings">
                            <div class="card__timings__inner">
                                <div class="card__text card__text--left">
                                    <p class="card__text__heading">Time</p>
                                    <p class="card__text__middle">Start 6:30PM</p>
                                    <p class="card__text__bottom">Finish 8:30PM</p>
                                </div>
                                <div class="card__text card__text--right">
                                    <p class="card__text__heading">Cancel Reservation</p>
                                    <p class="card__text__middle">1 day</p>
                                </div>
                            </div>
                        </div>
                        <div class="card__timer">Confirmation</div>
                        <section class="card__part card__part-4">
                            <div class="card__part__side m--back"></div>
                            <div class="card__part__side m--front">
                                <button type="button" class="card__request-btn">
                                    <span class="card__request-btn__text-1">Continue</span>
                                    <span class="card__request-btn__text-2">Go</span>
                                </button>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </section>
    </section>
</template>

<script>
    import $ from 'jquery'
    export default {
        data () {
            return {}
        }
    }
    $(document).ready(function() {
        var animating = false;
        var step1 = 500;
        var step2 = 500;
        var step3 = 500;
        var reqStep1 = 600;
        var reqStep2 = 800;
        var reqClosingStep1 = 500;
        var reqClosingStep2 = 500;
        var $scrollCont = $(".phone__scroll-cont");

        $(document).on("click", ".card:not(.active)", function() {
            if (animating) return;
            animating = true;

            var $card = $(this);
            var cardTop = $card.position().top;
            var scrollTopVal = cardTop - 30;
            $card.addClass("flip-step1 active");

            $scrollCont.animate({scrollTop: scrollTopVal}, step1);

            setTimeout(function() {
                $scrollCont.animate({scrollTop: scrollTopVal}, step2);
                $card.addClass("flip-step2");

                setTimeout(function() {
                    $scrollCont.animate({scrollTop: scrollTopVal}, step3);
                    $card.addClass("flip-step3");

                    setTimeout(function() {
                        animating = false;
                    }, step3);

                }, step2*0.5);

            }, step1*0.65);
        });

        $(document).on("click", ".card:not(.req-active1) .card__header__close-btn", function() {
            if (animating) return;
            animating = true;

            var $card = $(this).parents(".card");
            $card.removeClass("flip-step3 active");

            setTimeout(function() {
                $card.removeClass("flip-step2");

                setTimeout(function() {
                    $card.removeClass("flip-step1");

                    setTimeout(function() {
                        animating = false;
                    }, step1);

                }, step2*0.65);

            }, step3/2);
        });

        $(document).on("click", ".card:not(.req-active1) .card__request-btn", function(e) {
            if (animating) return;
            animating = true;

            var $card = $(this).parents(".card");
            var cardTop = $card.position().top;
            var scrollTopVal = cardTop - 30;

            $card.addClass("req-active1 map-active");

            setTimeout(function() {
                $card.addClass("req-active2");
                $scrollCont.animate({scrollTop: scrollTopVal}, reqStep2);

                setTimeout(function() {
                    animating = false;
                }, reqStep2);

            }, reqStep1);
        });

        $(document).on("click",
            ".card.req-active1 .card__header__close-btn, .card.req-active1 .card__request-btn",
            function() {
                if (animating) return;
                animating = true;

                var $card = $(this).parents(".card");

                $card.addClass("req-closing1");

                setTimeout(function() {
                    $card.addClass("req-closing2");

                    setTimeout(function() {
                        $card.addClass("no-transition hidden-hack");
                        $card.css("top");
                        $card.removeClass("req-closing2 req-closing1 req-active2 req-active1 map-active flip-step3 flip-step2 flip-step1 active");
                        $card.css("top");
                        $card.removeClass("no-transition hidden-hack");
                        animating = false;
                    }, reqClosingStep2);

                }, reqClosingStep1);
            });

    });
</script>

<style>
    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        background: #DBE6F6;
        background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);
        background: linear-gradient(to right, #C5796D, #DBE6F6);
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
    p{
        margin: 0;
    }
    .card__text__heading, .card__sender__heading {
        font-size: 12px;
        text-transform: uppercase;
        color: #b5b5b5;
    }
    .card {
        z-index: 1;
        position: relative;
        width: 90%;
        height: 160px;
        margin-left: 18px;
        margin-bottom: 15px;
        margin-top: 60px;
    }
    .card.hidden-hack .card__part-2 > .m--front {
        display: none;
    }
    .card.no-transition * {
        transition: all 0s 0s !important;
    }
    .card.theme-green .card__face__colored-side {
        background: #52a43a;
    }
    .card.theme-green .card__header {
        background: #52a43a;
    }
    .card__part {
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        border-radius: 11px;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
    }
    .card__part__side {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: #fff;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
    .card__part__side.m--back {
        transform: rotateX(180deg);
    }
    .card__part__side.m--front {
        background: #fff;
    }
    .card__part-1 {
        top: 0;
        height: 100%;
        transition: all 0.25s;
        transform: translateZ(-3px);
    }
    .card.flip-step1 .card__part-1 {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateZ(0);
    }
    .card.req-closing2 .card__part-1 {
        border-radius: 11px;
    }
    .card__part-2 {
        z-index: 6;
        top: 100%;
        height: 100%;
        transform: rotateX(179deg) translateZ(3px);
        transition: transform 0.5s ease-out, border-radius 0.25s;
    }
    .card__part-2 > .m--back {
        overflow: hidden;
        cursor: pointer;
    }
    .card.flip-step1 .card__part-2 {
        transform: translateZ(0);
        border-radius: 0;
    }
    .card.req-active1 .card__part-2 {
        transition: transform 0.6s;
        transform: translate3d(0, -120px, 0);
    }
    .card.req-active2 .card__part-2 {
        transition: transform 0.6s cubic-bezier(0.61, 0.14, 0.18, 1.52);
        transform: translate3d(0, 140px, 0);
    }
    .card.req-closing1 .card__part-2 {
        transition: transform 0.5s;
        transform: translate3d(0, 0, 0);
    }
    .card.req-closing2 .card__part-2 {
        transition: transform, border-radius;
        transition-duration: 0.5s;
        transform: rotateX(179deg) translateZ(3px);
        border-radius: 11px;
    }
    .card__part-3 {
        top: 100%;
        height: 70px;
        transform: rotateX(179deg) translateZ(-3px);
        transition: transform 0.5s, border-radius 0s 0.5s;
    }
    .card__part-3 > .m--back {
        background: #f7eff7;
    }
    .card.flip-step2 .card__part-3 {
        transition: transform 0.5s, border-radius 0s 0s;
        border-radius: 0;
        transform: translateZ(0);
    }
    .card.req-active1 .card__part-3 {
        transition: transform, height;
        transition-duration: 0.6s;
        transform: translate3d(0, -70px, 0);
        height: 0;
    }
    .card.req-active2 .card__part-3 {
        transition: transform, height;
        transition-duration: 0.6s;
        transform: translate3d(0, 0, 0);
        height: 75px;
    }
    .card.req-closing1 .card__part-3 {
        transition: transform 0.5s;
        transform: rotateX(179deg) translateZ(-3px);
    }
    .card.req-closing2 .card__part-3 {
        transition: border-radius 0.5s;
        border-radius: 11px;
    }
    .card__part-4 {
        top: 100%;
        height: 70px;
        transform: rotateX(179deg) translateZ(0);
        transition: transform 0.5s, border-radius 0s 0s, height 0.5s;
    }
    .card__part-4 > .m--back {
        background: #f7eff7;
    }
    .card__part-4 > .m--front {
        padding: 10px 20px;
        opacity: 0;
        transition: opacity 0s 0.5s;
    }
    .card.flip-step2 .card__part-4 {
        transition: transform 0.5s, border-radius 0s 0s, height 0.33s 0.165s;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .card.flip-step3 .card__part-4 {
        transition: transform 0.5s, border-radius 0s 0s, height 0.33s;
        height: 85px;
        transform: translateZ(0);
    }
    .card.flip-step3 .card__part-4 > .m--front {
        opacity: 1;
        transition: opacity 0s 0s;
    }
    .card.req-closing1 .card__part-4 {
        transition: border-radius 0.5s;
        border-radius: 0;
    }
    .card.req-closing2 .card__part-4 {
        transition: border-radius 0.5s;
        border-radius: 11px;
    }
    .card__part__inner {
        overflow: hidden;
        position: relative;
        height: 100%;
        border-radius: inherit;
    }
    .card__text {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
    }
    .card__text:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 21px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
    }
    .card__text--left {
        left: 0;
    }
    .card__text--right {
        left: 50%;
    }
    .card__text__heading {
        line-height: 1;
        margin-bottom: 3px;
    }
    .card__text__middle {
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        color: #4b4d52;
    }
    .card__text__bottom {
        font-size: 14px;
        color: #555a5f;
    }
    .card__face {
        padding: 20px 20px 15px;
    }
    .card__face:after {
        content: "";
        z-index: 5;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 1) 100%);
    }
    .card__face__colored-side {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
        width: 7px;
        height: 100%;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
        transition: width 0.3s;
    }
    .card__face:hover .card__face__colored-side {
        width: 80px;
    }
    .card__face__price {
        float: left;
        margin-top: -3px;
        font-weight: normal;
        font-size: 22px;
        color: #555a5f;
        transition: color 0.3s;
    }
    .card__face:hover .card__face__price {
        color: #fff;
    }
    .card__face__master {
        margin-top: -2px;
    }
    .card__face__divider {
        position: absolute;
        left: 85px;
        top: 10px;
        width: 1px;
        height: calc(100% - 20px);
        background: #ececec;
    }
    .card__face__from-to {
        position: absolute;
        left: 120px;
        top: 20px;
        width: 300px;
        color: #555a5f;
        font-size: 13px;
    }
    .card__face__from-to:before {
        content: "";
        position: absolute;
        left: 0;
        top: 35%;
        width: 100%;
        height: 1px;
        background: #ececec;
    }
    .card__face__from-to p:first-child {
        margin-bottom: 15px;
    }
    .card__face__deliv-date {
        position: absolute;
        left: 20px;
        top: 105px;
        color: #9a9e9e;
        text-transform: uppercase;
        font-size: 12px;
        transition: color 0.3s;
    }
    .card__face__deliv-date p {
        color: #606568;
        transition: color 0.3s;
    }
    .card__face:hover .card__face__deliv-date {
        color: rgba(255, 255, 255, 0.8);
    }
    .card__face:hover .card__face__deliv-date p {
        color: #fff;
    }
    .card__face__stats {
        position: absolute;
        top: 105px;
        color: #b5b5b5;
        text-transform: uppercase;
        font-size: 12px;
    }
    .card__face__stats p {
        font-size: 10px;
        color: #adadad;
        font-weight: bold;
    }
    .card__face__stats--req {
        display: block;
        left: 90px;
        text-align: left;
    }
    .card__face__stats--pledge {
        left: 200px;
        text-align: left;
    }
    .card__face__stats--weight {
        left: 260px;
        text-align: left;
    }
    .card__face__stats--weight p {
        text-transform: lowercase;
    }
    .card__header {
        position: relative;
        height: 40px;
        color: rgba(255, 255, 255, 0.8);
    }
    .card__header__close-btn {
        z-index: 2;
        position: absolute;
        left: 12px;
        top: 12px;
        width: 16px;
        height: 16px;
        transition: transform 0.3s;
        cursor: pointer;
    }
    .card__header__close-btn:hover {
        transform: rotate(90deg);
    }
    .card__header__close-btn:before, .card__header__close-btn:after {
        content: "";
        position: absolute;
        left: -4px;
        top: 7px;
        width: 23px;
        height: 2px;
        background: #fff;
    }
    .card__header__close-btn:before {
        transform: rotate(45deg);
    }
    .card__header__close-btn:after {
        transform: rotate(-45deg);
    }
    .card__stats {
        position: relative;
        height: 120px;
        background-size: cover;
        background-position: center center;
        transition: opacity 0.6s;
    }
    .card__stats:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .card.req-active1 .card__stats {
        opacity: 0;
    }
    .card.req-active2 .card__stats {
        display: none;
    }
    .card__stats__item {
        position: absolute;
        bottom: 10px;
    }
    .card__stats__item--req {
        z-index: 2;
        left: 20px;
    }
    .card__stats__item--pledge {
        z-index: 1;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .card__stats__item--weight {
        z-index: 2;
        right: 20px;
        text-align: right;
    }
    .card__stats__type {
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.6);
    }
    .card__stats__value {
        font-size: 19px;
        font-weight: bold;
        color: #fff;
    }
    .card__sender {
        position: relative;
        height: 90px;
        padding: 10px 20px 0;
    }
    .card.req-active2 .card__sender {
        height: 160px;
    }
    .card__sender:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #ececec;
        transition: opacity 0.3s;
        opacity: 0;
    }
    .card.req-active2 .card__sender:after {
        opacity: 1;
    }
    .card__sender__heading {
        margin-bottom: 5px;
        margin-right: 15px;
    }
    .card.req-active1 .card__sender__heading {
        transition: opacity, margin;
        transition-duration: 0.48s;
        opacity: 0;
        margin-top: -9px;
    }
    .card.req-active2 .card__sender__heading {
        pointer-events: none;
    }
    .card__sender__img-cont {
        overflow: hidden;
        display: block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 8px;
    }
    .card__sender__img-cont__inner {
        height: 100%;
        filter: grayscale(100%);
    }
    .card__sender__img {
        width: 100%;
        min-height: 100%;
    }
    .card__sender__name-and-rating {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        max-width: 180px;
        height: 55px;
        margin-top: -5px;
        margin-bottom: 20px;
    }
    .card__sender__name {
        position: absolute;
        top: 45px;
        font-size: 18px;
        color: #3b424a;
    }
    .card__sender__address {
        font-size: 12px;
        color: #8c9093;
        opacity: 0;
        pointer-events: none;
    }
    .card.req-active2 .card__sender__address {
        transition: opacity 0.6s;
        opacity: 1;
        pointer-events: auto;
    }
    .card__from-to {
        position: relative;
        height: 70px;
        padding: 10px 20px 0;
    }
    .card.req-active1 .card__from-to {
        transition: opacity 0.48s;
        opacity: 0;
    }
    .card.req-active2 .card__from-to {
        display: none;
    }
    .card__from-to__inner {
        position: relative;
        height: 100%;
    }
    .card__from-to__inner:before {
        content: "";
        position: absolute;
        left: 0;
        top: -10px;
        width: 100%;
        height: 1px;
        background: #ececec;
    }
    .card__timings {
        position: relative;
        height: 100%;
        padding: 10px 20px 0;
    }
    .card.req-active1 .card__timings {
        transition: opacity 0.48s;
        opacity: 0;
    }
    .card.req-active2 .card__timings {
        display: none;
    }
    .card__timings__inner {
        position: relative;
        height: 100%;
    }
    .card__timer {
        display: none;
        margin-top: 22px;
        font-size: 30px;
        color: #a4adad;
        text-align: center;
    }
    .card.req-active2 .card__timer {
        display: block;
    }
    .card__request-btn {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: #ffbd18;
        text-transform: uppercase;
        font-size: 18px;
        color: #3f2f1f;
        outline: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        letter-spacing: 0;
        transition: letter-spacing 0.3s;
    }
    .card__request-btn__text-1 {
        transition: opacity 0.48s;
    }
    .card.req-active1 .card__request-btn__text-1 {
        opacity: 0;
    }
    .card.req-active2 .card__request-btn__text-1 {
        display: none;
    }
    .card__request-btn__text-2 {
        z-index: -5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        opacity: 0;
        transition: opacity 0.6s;
    }
    .card.req-active2 .card__request-btn__text-2 {
        z-index: 1;
        opacity: 1;
    }
    .card__request-btn:hover {
        letter-spacing: 5px;
    }
</style>
