<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                fixed
                app
        >
            <v-list dense>
                <v-list-tile @click="logout()">
                    <!--<v-list-tile-action>-->
                        <!--<v-icon>home</v-icon>-->
                    <!--</v-list-tile-action>-->
                    <v-list-tile-content>
                        <v-list-tile-title>Logout</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar color="indigo" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>Dashboard</v-toolbar-title>
        </v-toolbar>
    </v-app>
</template>

<script>
    import store from '../store.js'
    export default {
        data: () => ({
            drawer: null
        }),
        props: {
            source: String
        },
        methods: {
            logout() {
                store.commit('logout');
            }
        }
    }
</script>